[Unit]
Description=Backup to AWS Encryption Service
Wants=backitup.timer

[Service]
Type=oneshot
User=%i
ExecStart=/etc/backitup/backitup

[Install]
WantedBy=multi-user.target