[Unit]
Description=Backup to AWS Encryption Service
Requires=encrypted-go-backup@.service

[Timer]
Unit=encrypted-go-backup@.service
OnCalendar=*-*-* 03:10:00

[Install]
WantedBy=timer.target