[Unit]
Description=Backup to AWS Encryption Service
Wants=encrypted-go-backup.timer

[Service]
Type=oneshot
User=%i
ExecStart=/etc/encrypted-go-backup/encrypted-go-backup

[Install]
WantedBy=multi-user.target